WpfRobotServer/Connected Services/RobotActions/robotService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SendActionScript">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actionScript" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendActionScriptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendActionScriptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallBackResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>